@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="auth-panel">
    <h1>Login</h1>
    <form asp-action="Login" method="post" class="form-card">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Senha" class="form-label mt-3"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>

        <button class="btn btn-primary w-100 mt-4" type="submit">Entrar</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
